* {
  font-family: "lucida console";
}

button, input {
  font-size: 1.3em;
}

.header {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  display: block;
}

button {
  width: 90%;
  min-width: 100px;
  border: 2px solid grey;
  background: lightgray;
  margin-right: 10px;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

button:hover {
  background: palegreen;
  color: white;
}

.main-wrapper {
  display: flex;
}

.left-col {
  min-width: 150px;
}

#currentControl {
  font-size: 1.5em;
}

#canvasContainer {
  border: 2px solid black;
}
